{% extends 'layout.twig' %}

{% block title %}Article{% endblock %}

{% block content %}

<div id="ajax-page" class="ajax-page-content animated slideInDown">
    <div class="ajax-page-wrapper" style="position: relative;">
        <div class="ajax-page-nav">
            <div class="nav-item ajax-page-prev-next">
                <a class="ajax-page-load" href="portfolio-5.html"><i class="pe-7s-icon pe-7s-angle-left"></i></a>
                <a class="ajax-page-load" href="portfolio-2.html"><i class="pe-7s-icon pe-7s-angle-right"></i></a>
            </div>
            <div class="nav-item ajax-page-close-button">
                <a id="ajax-page-close-button" href="blog"><i class="pe-7s-icon pe-7s-close"></i></a>
            </div>
        </div>
        <div class="border-block-top-110"></div>
        <div class="ajax-page-title">
            <h1>{{ post.title }}</h1><br><br>
        </div>

        <div class="row">         
		<!-- Post Content -->
          <article>
              <div class="row">
                <div class="col-lg-12 col-md-12 mx-auto post_content">
                  {{ post.content | raw }}
                  <p class="post-meta">Publié par <span class="auteur">{{ post.author}}</span> le {{ post.creationDate |date("d/m/Y", "Europe/Paris")}}</p>
                </div>               
              </div>
          </article>
            
        </div>
    </div>

    <!-- comment -->
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" id="logout">
                <div class="page-header">
                    <h3 class="reviews">Laissez un commentaire </h3>
                </div>
                <div class="comment-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Commentaires</h4></a></li>
                        <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Ajouter un commentaire</h4></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="comments-logout">
                            <ul class="media-list">
                                {% for comment in comments %}
                                <li class="media">
                                    <div class="media-body">
                                        <div class="well well-lg">
                                            <h4 class="media-heading text-uppercase reviews">{{ comment.author }}</h4>
                                            <ul class="media-date text-uppercase reviews list-inline">
                                                {{comment.creationDate |date("d/m/Y H:i")}}
                                            </ul>
                                            <p class="media-comment">
                                               {{comment.content}}
                                            </p>
                                            {% if session.id == comment.user_id %}
                                                <a class="editComment comment{{ comment.id }}" onclick="editComment({{ comment.id }})" >edit</a>
                                            {% endif %}
                                            <p class="dateEditComments">
                                                Commentaire édité le {{comment.updateDate |date("d/m/Y H:i")}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="add-comment">
                            {% if session.id is not empty %}
                            <form action="" method="post" class="form-horizontal" id="commentForm" role="form">
                                <div class="form-group">
                                    <label for="addComment" class="col-sm-2 control-label">Commentaire</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" minlength="3" maxlength="1024" name="addComment" id="addComment" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button id="btnAddComment" class="btn btn-circle text-uppercase" type="submit" id="submitComment"><i class="fas fa-paper-plane"></i> Poster le commentaire</button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                                <h4>Vous devez être connecté pour poster un commentaire! <a href="connexion">Connectez-vous !</a> </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!--/comment-->
    <script>
        function editComment(comment_id) {
            if($('.comment'+comment_id).prev()[0].tagName == 'P'){
                $('.comment'+comment_id).prev().replaceWith('<form method="post" action="editComment-'+comment_id+'"><textarea class="tcom'+comment_id+' textareaEditComment" name="editComment">'+$('.comment'+comment_id).prev().html().trim()+'</textarea><input type="submit" value="enregistrer modification"></form>');
            }else{
                $('.comment'+comment_id).prev().replaceWith('<p class="media-comment">'+$('.tcom'+comment_id+'').html()+'</p>');
            }
        }
    </script>

<script type="text/javascript">
                    function customAjaxScroll() {
                        var windowWidth = $(window).width();
                        if (windowWidth > 991) {
                            // Custom Ajax Page Scroll
                            $("#ajax-page").mCustomScrollbar({
                                scrollInertia: 8,
                                documentTouchScroll: false
                            });
                        } else {
                            $("#ajax-page").mCustomScrollbar('destroy');
                        }
                    }

                    jQuery(document).ready(function($){

                        // Ajax Loaded Page Scroll
                        customAjaxScroll();

                    });

                    jQuery(window).on('resize', function() {
                        customAjaxScroll();
                    });
                </script>
{% endblock %}
          