{% extends 'layout.twig' %}

 {% block title %}Editer un Post{% endblock %}

 {% block content %}

     {% if session.id is not empty and session.admin == 1 %}

         <section class="pt-page pt-page-6">
         <div class="border-block-top-110"></div>
         <div class="section-inner">
             <div class="section-title-block">
                 <div class="section-title-wrapper">
                     <h2 class="section-title">Editer un Post</h2>
                 </div>
             </div>

             <div class="row">
                 <div class="col-lg-12 col-md-12 mx-auto">
                     <form id="formAddPost" method="post">
                         <input type="hidden" name="token" value="{{ csrf_token('editPost') }}"/>
                         <label for="addTitle">Title</label>
                         <input maxlength="255" id="addTitle" type="text" name="title" value="{{ post.title }}" required>
                         <label for="addStandfirst">Standfirst</label>
                         <input maxlength="255" id="addStandfirst" type="text" name="standfirst" value="{{ post.standfirst }}" required>
                         <label for="postContent">Content</label>
                         <textarea id="postContent" name="content" required>{{ post.content }}</textarea>
                         <label for="addAuthor">Author</label>
                         <input maxlength="45" id="addAuthor" type="text" name="author" value="{{ post.author }}" required>
                         <select name="state" required>
                             <option value="published">published</option>
                             <option value="draft">draft</option>
                             <option value="trash">trash</option>
                         </select>
                         <input type="submit" value="Editer le Post">
                     </form>
                 </div>
             </div>
         </div>
     {% else %}
         <h4>Vous devez être connecté avec un compte administrateur pour accéder à cette page ! <a href="connexion">Connectez-vous !</a> </h4>
     {% endif %}

 {% endblock %}