{% extends 'layout.twig' %}

 {% block title %}Gestion des Posts{% endblock %}

 {% block content %}

     {% if session.id is not empty and session.admin == 1 %}
    <!-- blog Subpage -->
    <section class="pt-page pt-page-6">
        <div class="border-block-top-110"></div>
        <div class="section-inner">
            <div class="section-title-block">
                <div class="section-title-wrapper">
                    <h2 class="section-title">Gestion des Posts</h2>
                </div>
            </div>

            <a href="add_post"><button id="add_post" type="button" class="btn btn-primary btn-lg">Ajouter un Post</button></a>

            <form method="post" action="posts">
                <input type="hidden" name="token" value="{{ csrf_token('sortPosts') }}"/>
                <p>Trier les résultats par <select name="sort">
                        <option value="id">ID</option>
                        <option value="state">statut</option>
                        <option value="title">titre</option>
                        <option value="author">auteur</option>
                        <option value="standfirst">chapô</option>
                        <option value="creationDate">date de création</option>
                        <option value="updateDate">date de modification</option>
                    </select>
                    ordre
                    <select name="order">
                        <option value="ASC">croissant</option>
                        <option value="DESC">décroissant</option>
                    </select>
                    <input type="submit" value="trier">
                </p>
            </form>

        <!-- blog Content -->
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Chapô</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Date de modification</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for post in posts %}
                    <tbody>
                    <tr>
                        <!--<td><input type="checkbox" name="posts[]" value="{{post.id}}"></td>-->
                        <td>{{post.id}}</td>
                        <td>{{post.state}}</td>
                        <td>{{ post.title}}</td>
                        <td>{{post.author}}</td>
                        <td>{{post.standfirst}}</td>
                        <td>{{post.creationDate |date("d/m/Y")}}</td>
                        <td>{{post.updateDate ? post.updateDate|date("d/m/Y")}}</td>
                        <td><a href="post-{{post.id}}">Voir</a><br><a href="editPost-{{post.id}}">Edit</a>
                            {% if post.state == 'trash' %}
                                <form method="post" action="deletePost" >
                                    <input type="hidden" name="token" value="{{ csrf_token('deletePost') }}"/>
                                    <input type="hidden" name="post_id" value="{{post.id}}"/>
                                    <input type="submit" value="delete">
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /blog Content -->
    {% else %}
        <h4>Vous devez être connecté avec un compte administrateur pour accéder à cette page ! <a href="connexion">Connectez-vous !</a> </h4>
    {% endif %}

 {% endblock %}