{% extends 'layout.twig' %}

 {% block title %}Gestion des utilisateurs{% endblock %}

 {% block content %}

     {% if session.id is not empty and session.admin == 1 %}

    <section class="pt-page pt-page-6 animated slideInRight" >
        <div class="border-block-top-110"></div>
        <div class="section-inner">
            <div class="section-title-block">
                <div class="section-title-wrapper">
                    <h2 class="section-title">Gestion des Utilisateurs</h2>
                </div>
            </div>

            <form method="post" action="users">
                <input type="hidden" name="token" value="{{ csrf_token('sortUsers') }}"/>
                <p>Trier les résultats par <select name="sort">
                        <option value="id">ID</option>
                        <option value="firstname">Prénom</option>
                        <option value="lastname">Nom</option>
                        <option value="email">Email</option>
                        <option value="admin">Admin</option>
                        <option value="restricted">Restricted</option>
                        <option value="register_date">Register date</option>
                    </select>
                    ordre
                    <select name="order">
                        <option value="ASC">croissant</option>
                        <option value="DESC">décroissant</option>
                    </select>
                    <input type="submit" value="trier">
                </p>
            </form>

            <form method="post" action="usersAction">
                <input type="hidden" name="token" value="{{ csrf_token('usersAction') }}"/>
                 <select name="action">
                        <option value="setAdmin">Mettre admin</option>
                        <option value="revokeAdmin">Enlever admin</option>
                        <option value="restrict">Restreindre</option>
                        <option value="revokeRestrict">Enlever restriction</option>
                 </select>
                <input type="submit" value="Appliquer">

        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Admin</th>
                        <th scope="col">Restricted</th>
                        <th scope="col">Register Date</th>
                    </tr>
                    </thead>
                    {% for user in users %}
                    <tbody>
                    <tr>
                        <td><input type="checkbox" name="users[]" value="{{user.id}}"></td>
                        <td>{{user.id}}</td>
                        <td>{{ user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.admin}}</td>
                        <td>{{user.restricted}}</td>
                        <td>{{user.register_date|date("d/m/Y H:i")}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
             </form>
            <div class="container">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" > << </a></li>
                    {% for i in 1..nbr_pages %}
                        {% if i == page %}
                            <li class="page-item active"><a class="page-link" href="/blog/users/{{i}}">{{i}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/blog/users/{{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item"><a class="page-link" > >> </a></li>
                </ul>
            </div>
    </div>

    {% else %}
        <h4>Vous devez être connecté avec un compte administrateur pour accéder à cette page ! <a href="connexion">Connectez-vous !</a> </h4>
    {% endif %}

 {% endblock %}